In [2]:
money = 0

if money:
    print("택시를 타고 가라")
else:
    print("걸어 가라")

걸어 가라

In [3]:
money = 1
if money:
    print("택시를")
    print("타자")

택시를
타자

In [5]:
money = 1500

if money >= 3000:
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [6]:
money = 2000
card = 1

if money >= 3000 or card:
    print("Take a taxi")
else:
    print("Take a walk")

Take a taxi

In [7]:
1 in [1,2,3]

True

In [8]:
4 in [1,2,3]

False

In [13]:
pocket = ['paper', 'cellphone', 'money']

if 'money' in pocket:
    print("Take a taxi")
else:
    print("Walk")

Take a taxi

In [14]:
if 'money' in pocket:
    pass
else:
    print("Show me your card")

In [17]:
pocket = ['paper', 'cellphone']
card = 1

if 'money' in pocket:
    print("Taxi")
elif card:
    print("Taxi")
else:
    print("Walk")

Taxi

In [19]:
treeHit = 0

while treeHit < 10:
    treeHit = treeHit+1
    print("나무를 %d번 찍었습니다."%treeHit)
    
    if treeHit == 10:
        print("나무 넘어갑니다")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다

In [20]:
prompt = """
    1. Add
    2. Del
    3. List
    4. Quit

    Enter Number: """

In [22]:
number = 0

while number != 4:
    print(prompt)
    number = int(input())

    1. Add
    2. Del
    3. List
    4. Quit

    Enter Number:
5

    1. Add
    2. Del
    3. List
    4. Quit

    Enter Number:
1

    1. Add
    2. Del
    3. List
    4. Quit

    Enter Number:
2

    1. Add
    2. Del
    3. List
    4. Quit

    Enter Number:
3

    1. Add
    2. Del
    3. List
    4. Quit

    Enter Number:
4

In [23]:
coffe = 10
money = 300

while money:
    print("돈을 받았으니 커피를 줍니다")
    coffe = coffe-1
    print("남은 커피의 양은 %d입니다"%coffe)
    if not coffe:
        print("out of stock")
        break

돈을 받았으니 커피를 줍니다
남은 커피의 양은 9입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 8입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 6입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 5입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 4입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 3입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 2입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1입니다
돈을 받았으니 커피를 줍니다
남은 커피의 양은 0입니다
out of stock

In [28]:
coffe = 10

while True:
    money = int(input("돈을 넣어 주세요:"))
    
    if money == 300:
        print("돈을 받았으니 커피를 줍니다")
        coffe = coffe-1
        print("남은 커피의 양은 %d입니다."%coffe)
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다"%(money-300))
        coffe = coffe-1
        print("남은 커피의 양은 %d입니다."%coffe)
    else:
        print("돈을 돌려주고 커피를 주지 않습니다")
        print("남은 커피의 양은 %d입니다."%coffe)
    
    if not coffe:
        print("out of stock. we stop selling")
        break

돈을 넣어 주세요:300
돈을 받았으니 커피를 줍니다
남은 커피의 양은 9입니다.
돈을 넣어 주세요:200
돈을 돌려주고 커피를 주지 않습니다
남은 커피의 양은 9입니다.
돈을 넣어 주세요:500
거스름돈 200를 주고 커피를 줍니다
남은 커피의 양은 8입니다.
돈을 넣어 주세요:300
돈을 받았으니 커피를 줍니다
남은 커피의 양은 7입니다.
돈을 넣어 주세요:340
거스름돈 40를 주고 커피를 줍니다
남은 커피의 양은 6입니다.
돈을 넣어 주세요:20
돈을 돌려주고 커피를 주지 않습니다
남은 커피의 양은 6입니다.
돈을 넣어 주세요:30
돈을 돌려주고 커피를 주지 않습니다
남은 커피의 양은 6입니다.
돈을 넣어 주세요:10
돈을 돌려주고 커피를 주지 않습니다
남은 커피의 양은 6입니다.
돈을 넣어 주세요:500
거스름돈 200를 주고 커피를 줍니다
남은 커피의 양은 5입니다.
돈을 넣어 주세요:10232
거스름돈 9932를 주고 커피를 줍니다
남은 커피의 양은 4입니다.
돈을 넣어 주세요:23231
거스름돈 22931를 주고 커피를 줍니다
남은 커피의 양은 3입니다.
돈을 넣어 주세요:22
돈을 돌려주고 커피를 주지 않습니다
남은 커피의 양은 3입니다.
돈을 넣어 주세요:23421
거스름돈 23121를 주고 커피를 줍니다
남은 커피의 양은 2입니다.
돈을 넣어 주세요:300
돈을 받았으니 커피를 줍니다
남은 커피의 양은 1입니다.
돈을 넣어 주세요:21312
거스름돈 21012를 주고 커피를 줍니다
남은 커피의 양은 0입니다.
out of stock. we stop selling

In [29]:
a = 0

while a < 10:
    a = a+1
    if a%2 == 0: continue
    print(a)

1
3
5
7
9

In [30]:
test_list = ['one','two','three']

for i in test_list:
    print(i)

one
two
three

In [33]:
a = [(1,2),(3,4),(5,6)]

for (first,second) in a:
    print(first+second)

3
7
11

In [36]:
marks = [90,25,67,45,80]
number = 0

for mark in marks:
    number = number+1
    if mark > 60:
        print("%d번 학생은 pass"%number)
    else:
        print("%d번 학생은 not pass"%number)

1번 학생은 pass
2번 학생은 not pass
3번 학생은 pass
4번 학생은 not pass
5번 학생은 pass

In [41]:
marks = [90,25,67,45,80]
number = 0

for mark in marks:
    number = number + 1
    if mark < 60:
        pass
    else:
        print("Student%d, Big Congrats"%number)

Student1, Big Congrats
Student3, Big Congrats
Student5, Big Congrats

In [2]:
marks = [90,25,67,45,80]
marks[0]

90

In [4]:
marks = [90,25,67,45,80]
number = 0

for mark in marks:
    number = number+1
    if mark > 60:
        print("Student%d: pass"%number)
    else:
        print("Student%d: fail"%number)

Student1: pass
Student2: fail
Student3: pass
Student4: fail
Student5: pass

In [5]:
marks = [90,25,67,45,80]
number = 0

for mark in marks:
    number = number+1
    if mark > 60:
        print("Student%d: You passed! Congrats!"%number)
    else:
        continue

Student1: You passed! Congrats!
Student3: You passed! Congrats!
Student5: You passed! Congrats!

In [8]:
a = range(10)
a

range(0, 10)

In [11]:
sum = 0
for i in range(1,11):
    sum = sum + i

print(sum)

55

In [13]:
#my code
marks = [90,25,67,45,80]

for num in range(1,6):
    for mark in marks:
        if mark > 60:
            print("Student %d: passed"%num)
        else:
            continue

Student 1: passed
Student 1: passed
Student 1: passed
Student 2: passed
Student 2: passed
Student 2: passed
Student 3: passed
Student 3: passed
Student 3: passed
Student 4: passed
Student 4: passed
Student 4: passed
Student 5: passed
Student 5: passed
Student 5: passed

In [14]:
marks = [90,25,67,45,80]
len(marks)

5

In [17]:
marks = [90,25,67,45,80]

for number in range(len(marks)):
    if marks[number] > 60:
        print("Student %d : passed"%(number+1))
    else: continue

Student 1 : passed
Student 3 : passed
Student 5 : passed

In [36]:
#구구단 by HK
for i in range(2,10):
    print("%d단" % i)
    for j in range(1,10):
        print("%d*%d = %d" % (i, j, (i*j)), end = ", ")
    print("")

2단
2*1 = 2, 2*2 = 4, 2*3 = 6, 2*4 = 8, 2*5 = 10, 2*6 = 12, 2*7 = 14, 2*8 = 16, 2*9 = 18,
3단
3*1 = 3, 3*2 = 6, 3*3 = 9, 3*4 = 12, 3*5 = 15, 3*6 = 18, 3*7 = 21, 3*8 = 24, 3*9 = 27,
4단
4*1 = 4, 4*2 = 8, 4*3 = 12, 4*4 = 16, 4*5 = 20, 4*6 = 24, 4*7 = 28, 4*8 = 32, 4*9 = 36,
5단
5*1 = 5, 5*2 = 10, 5*3 = 15, 5*4 = 20, 5*5 = 25, 5*6 = 30, 5*7 = 35, 5*8 = 40, 5*9 = 45,
6단
6*1 = 6, 6*2 = 12, 6*3 = 18, 6*4 = 24, 6*5 = 30, 6*6 = 36, 6*7 = 42, 6*8 = 48, 6*9 = 54,
7단
7*1 = 7, 7*2 = 14, 7*3 = 21, 7*4 = 28, 7*5 = 35, 7*6 = 42, 7*7 = 49, 7*8 = 56, 7*9 = 63,
8단
8*1 = 8, 8*2 = 16, 8*3 = 24, 8*4 = 32, 8*5 = 40, 8*6 = 48, 8*7 = 56, 8*8 = 64, 8*9 = 72,
9단
9*1 = 9, 9*2 = 18, 9*3 = 27, 9*4 = 36, 9*5 = 45, 9*6 = 54, 9*7 = 63, 9*8 = 72, 9*9 = 81,

In [37]:
a = [1,2,3,4]
result = []

for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [42]:
result = [num*3 for num in a]

print(result)

[3, 6, 9, 12]

In [43]:
result = [num*3 for num in a if num%2 ==0]
print(result)

[6, 12]

In [44]:
result = [i*j for i in range(2,10)
                  for j in range(1,10)]

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [47]:
print("*"*3)

***

In [48]:
i = 0

while True:
    i += 1
    if i <= 5:
        print("*"*i)
    else:
        break

*
**
***
****
*****

In [49]:
i = 0

while True:
    i += 1
    if i > 5: break
    print("*"*i)

*
**
***
****
*****

In [50]:
A = [70,60,55,75,95,90,80,80,85,100]
len(A)

10

In [51]:
A = [70,60,55,75,95,90,80,80,85,100]

total = 0

for i in range(0,len(A)):
    total += A[i]

average = total/len(A)

print(average)

79.0

In [52]:
A = [70,60,55,75,95,90,80,80,85,100]

total = 0

for i in A:
    total += i

average = total/len(A)

print(average)

79.0