In [13]:
a = """Life is too short
You need python"""

In [14]:
print(a)

Life is too short
You need python

In [6]:
b = 'He\'s working in Seoul'

In [7]:
b

"He's working in Seoul"

In [17]:
head = 'Python'
tail = ' is fun!'

In [18]:
head+tail

'Python is fun!'

In [21]:
head*3

'PythonPythonPython'

In [23]:
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [24]:
a = 'Life is too short, You need Python'

In [43]:
print(a[0:4])
print(a[5:7])

Life
is

In [45]:
print(a[0:4]+" "+a[5:7])

Life is

In [56]:
aa = 'pithonn'

In [57]:
aa[1] = 'y'

TypeError: 'str' object does not support item assignment

In [58]:
"I eat %d apples."%2

'I eat 2 apples.'

In [59]:
"I eat %s apples."%"five"

'I eat five apples.'

In [60]:
number = 3
"I eat %d apples."%number

'I eat 3 apples.'

In [61]:
a = 'hobby'
a.count('o')

1

In [62]:
aa

'pithonn'

In [63]:
aa.count('s')

0

In [64]:
aa.find('n')

5

In [65]:
aa.index('n')

5

In [68]:
a=","
a.join('abcd')

'a,b,c,d'

In [69]:
a

','

In [70]:
a = """Life is too short
You need python"""

In [71]:
a.split()

['Life', 'is', 'too', 'short', 'You', 'need', 'python']

In [73]:
b = "a,b,c,d"
b.split(",")

['a', 'b', 'c', 'd']

In [1]:
a = [1,2,3]
a

[1, 2, 3]

In [2]:
a[0]

1

In [3]:
a = [1,2,['a','b',['Life','is']]]

In [7]:
a[2][2][0]

'Life'

In [8]:
a = [1,2,3,4,5]

In [11]:
b = a[2:]

In [12]:
print(b)

[3, 4, 5]

In [13]:
a = [1,2,3,['a','b','c'],4,5]

In [14]:
a[2:5]

[3, ['a', 'b', 'c'], 4]

In [15]:
a+b

[1, 2, 3, ['a', 'b', 'c'], 4, 5, 3, 4, 5]

In [16]:
a*3

[1,
 2,
 3,
 ['a', 'b', 'c'],
 4,
 5,
 1,
 2,
 3,
 ['a', 'b', 'c'],
 4,
 5,
 1,
 2,
 3,
 ['a', 'b', 'c'],
 4,
 5]

In [17]:
a = [1,2,4]

In [18]:
a.append('hi')

In [19]:
print(a)

[1, 2, 4, 'hi']

In [23]:
a.append(5)

In [24]:
a

[1, 2, 4, 'hi', 5]

In [27]:
str(a[0:5]).sort()

AttributeError: 'str' object has no attribute 'sort'

In [29]:
str(a[0:5])

"[1, 2, 4, 'hi', 5]"

In [30]:
a

[1, 2, 4, 'hi', 5]

In [31]:
a.insert(0,'b')

In [32]:
a

['b', 1, 2, 4, 'hi', 5]

In [33]:
a.insert(2,'2')

In [34]:
a

['b', 1, '2', 2, 4, 'hi', 5]

In [35]:
a.pop()

5

In [36]:
a

['b', 1, '2', 2, 4, 'hi']

In [37]:
a.pop(3)

2

In [38]:
a

['b', 1, '2', 4, 'hi']

In [57]:
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [58]:
b = [6,7]
a.extend(b)

In [59]:
a

[1, 2, 3, 4, 5, 6, 7]

In [60]:
a.extend([4,5])

In [61]:
a

[1, 2, 3, 4, 5, 6, 7, 4, 5]

In [62]:
a += [4,5]

In [63]:
a

[1, 2, 3, 4, 5, 6, 7, 4, 5, 4, 5]

In [64]:
a = {'a':[1,2,3]}

In [65]:
a

{'a': [1, 2, 3]}

In [66]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [67]:
a[2]

'b'

In [69]:
a[1]

'a'

In [71]:
a['name'] = 'pey'

In [72]:
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [73]:
a[3] = [1,2,3]

In [74]:
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [75]:
del a[1]

In [76]:
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [40]:
a = {'name':'pey', 'phone':'0119993323', 'birth':'1118'}

In [41]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [42]:
dic_keys = list(a.keys())

In [43]:
dic_keys

['name', 'phone', 'birth']

In [44]:
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [45]:
for k in a.keys():
    print(k)

name
phone
birth

In [46]:
test01 = list(a.keys()).append('type')

In [47]:
test01 = list(a.keys())

In [48]:
print(test01)

['name', 'phone', 'birth']

In [49]:
b = ['name','galaxy']

In [50]:
b.append('a')

In [51]:
b

['name', 'galaxy', 'a']

In [52]:
a

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [53]:
a.values()

dict_values(['pey', '0119993323', '1118'])

In [54]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [39]:
a.clear()

In [65]:
print(a.get('subname','hk'))

hk

In [67]:
'subname' in a

False

In [69]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [72]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [77]:
li_st1 = list(s2)

In [78]:
li_st1

['H', 'l', 'e', 'o']

In [81]:
tu_ple1 = tuple(s2)
tu_ple1

('H', 'l', 'e', 'o')

In [82]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])

In [89]:
s1.difference(s2)

{1, 2, 3}

In [96]:
print(s1)
print(s1.add(7))

{1, 2, 3, 4, 5, 6}
None

In [99]:
s1

{1, 2, 3, 4, 5, 6, 7, 8}

In [98]:
s1.add(8)

In [111]:
[0,2,3] is True

False

In [112]:
a = 3

In [118]:
import sys
sys.getrefcount(3)

542

In [117]:
c = 3

In [119]:
a, b = ('python','life')

In [120]:
a

'python'

In [121]:
b

'life'

In [125]:
(a,b) = ('python', 'life')

In [126]:
a

'python'

In [127]:
b

'life'

In [128]:
a = 3
b = 5
a,b = b,a

In [131]:
print(a)
print(b)

5
3

In [140]:
a

NameError: name 'a' is not defined

In [139]:
sys.getrefcount(3)

539

In [141]:
from copy import copy

In [149]:
a = [1,2,4]
b = a
a[1]= 7
print(b)

[1, 7, 4]

In [150]:
c = a[:]

In [154]:
c

[1, 7, 4]

In [159]:
a[0] = 3
a

[3, 7, 4]

In [157]:
b = copy(a)

In [160]:
b

[2, 7, 4]

In [190]:
a = (1,2,3)
b = copy(list(a))
c = b.append(4)

In [191]:
list(a)

[1, 2, 3]

In [192]:
b

[1, 2, 3, 4]

In [206]:
test01 = set((1,2,3) + (3,4))

In [207]:
test02 = tuple(test01)
test02

(1, 2, 3, 4)

In [220]:
test01 = (1,2,3)
test02 = list(test01)
test02.append(4)
test02

[1, 2, 3, 4]

In [221]:
a = (1,2,3)
a = (1,2,3)+a[3]

IndexError: tuple index out of range

In [226]:
pin  = "881120-1068234"
pin[0:6]
pin[7:]

'1068234'

In [227]:
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [228]:
print(pin[7])

1

In [235]:
a = [1,3,5,4,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [240]:
a = ['Life','is','too','short']
result = ' '.join(a)
result

'Life is too short'

In [242]:
a = (1,2,3)
a = (1,2,3) + (4,)
print(a)

(1, 2, 3, 4)

In [256]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

In [261]:
a = [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

In [263]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]